basePath: /api/v1
definitions:
  api.QueryEnvDTO:
    properties:
      create_at:
        type: string
      description:
        type: string
      is_write:
        type: boolean
      name:
        type: string
      tag:
        items:
          type: string
        type: array
      uid:
        type: string
      update_at:
        type: string
    type: object
  api.SQLResultGroupDTO:
    properties:
      data:
        items:
          $ref: '#/definitions/dbo.SQLResult'
        type: array
      errrr: {}
      gid:
        type: string
    type: object
  api.SQLTaskRequest:
    properties:
      db_name:
        type: string
      env:
        type: string
      is_aianalysis:
        type: boolean
      is_export:
        type: boolean
      is_soar:
        type: boolean
      long_time:
        type: boolean
      service:
        type: string
      statement:
        description: 'TODO: 后期支持切片（数组）形式'
        type: string
    type: object
  api.SQLTaskResponse:
    properties:
      action:
        type: string
      business_ref:
        type: string
      operate_time:
        type: string
      operator:
        type: string
      remark:
        type: string
    required:
    - action
    - business_ref
    - operate_time
    type: object
  api.SQLTaskReview:
    properties:
      action:
        description: 上线(2)、审批(1)、驳回(0)等
        type: integer
      business_ref:
        description: 业务标识
        type: string
      reason:
        description: 驳回原因
        type: string
    required:
    - action
    - business_ref
    type: object
  api.TempResultResponse:
    properties:
      data:
        description: Data      *core.SQLResultGroupV2 `json:"data"`
        items:
          $ref: '#/definitions/dbo.SQLResult'
        type: array
      is_export:
        type: boolean
      is_expried:
        type: boolean
      task_id:
        type: string
    type: object
  api.TicketDTO:
    properties:
      author_id:
        description: 表示该Ticket所属者
        type: integer
      business_ref:
        description: 针对API调用作为一组流程的聚合
        type: string
      idem_key:
        type: string
      issue_iid:
        type: integer
      project_id:
        type: integer
      source:
        description: 用于标识Ticket的来源。
        type: integer
      source_ref:
        description: 标识来源
        type: string
      status:
        type: string
      task_content:
        $ref: '#/definitions/api.SQLTaskRequest'
      task_id:
        type: string
      uid:
        description: 雪花ID
        type: integer
    type: object
  api.TicketResponse:
    properties:
      businessRef:
        description: 作为关键来源标识（一组流程的唯一标识）
        type: string
      idem_key:
        type: string
      source_ref:
        type: string
    type: object
  common.JSONResponse:
    properties:
      data:
        description: 数据可为空
      message:
        type: string
      pagination:
        $ref: '#/definitions/common.Pagniation'
      status_code:
        type: integer
    type: object
  common.Pagniation:
    properties:
      offset:
        description: 计算偏移量
        type: integer
      page:
        type: integer
      page_size:
        type: integer
      total:
        type: integer
      total_pages:
        type: integer
    type: object
  dbo.SQLResult:
    properties:
      errMsg:
        description: 错误信息
        type: string
      errrrr: {}
      handleTime:
        description: 处理结果集的时间
        format: float64
        type: number
      id:
        description: task id
        type: string
      lastId:
        description: 用于Excute的最新ID
        format: int64
        type: integer
      queryTime:
        description: 查询花费的时间
        format: float64
        type: number
      results:
        description: 结果集列表
        items:
          additionalProperties: {}
          type: object
        type: array
      rowCount:
        description: 返回结果条数
        type: integer
      stmt:
        description: 查询的原生SQL
        type: string
    type: object
host: 124.220.17.5:21899
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: This is a sample server celler server.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Swagger Example API
  version: "1.0"
paths:
  /env/create:
    post:
      consumes:
      - application/json
      description: 创建数据库环境信息
      parameters:
      - description: Env Body
        in: body
        name: env_body
        required: true
        schema:
          $ref: '#/definitions/api.QueryEnvDTO'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/common.JSONResponse'
            - properties:
                data:
                  type: object
              type: object
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/common.JSONResponse'
      security:
      - ApiKeyAuth: []
      summary: Create a Env Info
      tags:
      - Env
  /pre-check/details:
    get:
      description: 获取预检结果详情(通过bussinessRef)
      parameters:
      - description: busniess ref
        in: query
        name: business_ref
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.JSONResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/common.JSONResponse'
      security:
      - ApiKeyAuth: []
      summary: 获取预检结果
      tags:
      - SQLTask
  /result/details:
    get:
      description: 获取任务数据集详情
      parameters:
      - description: busniess ref
        in: query
        name: business_ref
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/common.JSONResponse'
            - properties:
                data:
                  $ref: '#/definitions/api.SQLResultGroupDTO'
              type: object
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/common.JSONResponse'
      security:
      - ApiKeyAuth: []
      summary: 获取任务数据集
      tags:
      - SQLTask
  /result/download:
    get:
      description: 下载导出结果集文件
      parameters:
      - description: task id
        in: query
        name: task_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              format: int32
              type: integer
            type: array
        "500":
          description: Internal Server Error
          schema:
            items:
              format: int32
              type: integer
            type: array
      security:
      - ApiKeyAuth: []
      summary: 下载导出结果文件
      tags:
      - Result
  /result/export:
    get:
      description: 导出临时结果集成文件形式(SSE)
      parameters:
      - description: task id
        in: query
        name: task_id
        required: true
        type: string
      - description: is only flag
        in: query
        name: is_only
        required: true
        type: boolean
      - description: only export index
        in: query
        name: result_idx
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              format: int32
              type: integer
            type: array
        "500":
          description: Internal Server Error
          schema:
            items:
              format: int32
              type: integer
            type: array
      security:
      - ApiKeyAuth: []
      summary: 导出结果集
      tags:
      - Result
  /result/temp-view/:identifier:
    get:
      description: 外链形式展示ticket任务执行结果
      parameters:
      - description: identifier (uukey)
        in: query
        name: identifier
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/common.JSONResponse'
            - properties:
                data:
                  $ref: '#/definitions/api.TempResultResponse'
              type: object
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/common.JSONResponse'
      security:
      - ApiKeyAuth: []
      summary: 输出临时结果集
      tags:
      - Result
  /sql-task/create:
    post:
      description: 根据JSON内容创建SQL任务
      parameters:
      - description: SQL task content
        in: body
        name: content
        required: true
        schema:
          $ref: '#/definitions/api.SQLTaskRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/common.JSONResponse'
            - properties:
                data:
                  $ref: '#/definitions/api.TicketResponse'
              type: object
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/common.JSONResponse'
      security:
      - ApiKeyAuth: []
      summary: 创建SQL任务
      tags:
      - SQLTask
  /sql-task/delete:
    delete:
      description: 删除SQLTask（可单删可批量）
      parameters:
      - description: busniess ref
        in: query
        name: business_ref
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/common.JSONResponse'
            - properties:
                data:
                  $ref: '#/definitions/api.TicketResponse'
              type: object
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/common.JSONResponse'
      security:
      - ApiKeyAuth: []
      summary: 删除SQLTask
      tags:
      - SQLTask
    post:
      description: 删除SQLTask（可单删可批量）
      parameters:
      - description: busniess ref
        in: query
        name: business_ref
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/common.JSONResponse'
            - properties:
                data:
                  $ref: '#/definitions/api.TicketResponse'
              type: object
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/common.JSONResponse'
      security:
      - ApiKeyAuth: []
      summary: 删除SQLTask
      tags:
      - SQLTask
  /sql-task/handle:
    get:
      description: 获取任务列表(具备分页)
      parameters:
      - description: page number
        in: query
        name: page
        type: integer
      - description: page size
        in: query
        name: page_size
        type: integer
      - description: status of sql task
        in: query
        name: status
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/common.JSONResponse'
            - properties:
                data:
                  $ref: '#/definitions/api.TicketDTO'
              type: object
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/common.JSONResponse'
      security:
      - ApiKeyAuth: []
      summary: 获取任务列表
      tags:
      - SQLTask
    post:
      description: 对SQLTask执行操作
      parameters:
      - description: SQLTaskReview
        in: body
        name: review_content
        required: true
        schema:
          $ref: '#/definitions/api.SQLTaskReview'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/common.JSONResponse'
            - properties:
                data:
                  $ref: '#/definitions/api.SQLTaskResponse'
              type: object
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/common.JSONResponse'
      security:
      - ApiKeyAuth: []
      summary: 处理SQLTask
      tags:
      - SQLTask
  /sql-task/update:
    put:
      description: 编辑更新SQLTask
      parameters:
      - description: busniess ref
        in: query
        name: business_ref
        required: true
        type: string
      - description: sql task content
        in: body
        name: content
        required: true
        schema:
          $ref: '#/definitions/api.SQLTaskRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/common.JSONResponse'
            - properties:
                data:
                  $ref: '#/definitions/api.TicketResponse'
              type: object
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/common.JSONResponse'
      security:
      - ApiKeyAuth: []
      summary: 编辑更新SQLTask
      tags:
      - SQLTask
securityDefinitions:
  ApiKeyAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
